<template name="coverPhoto">

    <div class="cover-photo" style="background-image: url({{coverPhoto}});">
        <div class="cover">
            <h1 class="coffeeco">
                {{name}}<br>
                <span class="region">{{byline}}</span><br>
                <span class="region">{{getRegionFromZip zip}}</span> <small style="font-size:8px;position:relative;bottom:1px;">&bull;</small>
                <span class="city">{{city}}</span><br>
                {{>icons this}}
            </h1>
        </div>
    </div>

</template>