<template name="form">
    <form hook="form">

        <label for="name">Name: </label>
        <input type="text" id="name" name="name" placeholder="Name" value="{{name}}" /><br>

        <label for="googlePlaceID">Place ID: </label>
        <input type="text" id="googlePlaceID" name="googlePlaceID" placeholder="Google Place ID" value="{{googlePlaceID}}" /><br>

        <label for="address">Address: </label>
        <input type="text" id="address" name="address" placeholder="Address" value="{{address}}" /><br>

        <label for="phone">Phone: </label>
        <input type="text" id="phone" name="phone" placeholder="Phone" value="{{phone}}" /><br>

        <label for="website">Website: </label>
        <input type="text" id="website" name="website" placeholder="Website" value="{{website}}" /><br>

        <label for="byline">Byline: </label>
        <input type="text" id="byline" name="byline" placeholder="Byline" value="{{byline}}" /><br>

        <fieldset id="filters" class="icons">
            <label>
                <input type="checkbox" name="breakfast" {{autoCheck filter=breakfast match=true}}>
                <img src="/img/icons/breakfast.png">
            </label>
            <label>
                <input type="checkbox" name="lunch" {{autoCheck filter=lunch match=true}}>
                <img src="/img/icons/lunch.png">
            </label>
            <label>
                <input type="checkbox" name="dinner" {{autoCheck filter=dinner match=true}}>
                <img src="/img/icons/dinner.png">
            </label>
            <label>
                <input type="radio" name="priceRange" value="1" {{autoCheck filter=priceRange match=1}}>
                <img src="/img/icons/dollar-1.png">
            </label>
            <label>
                <input type="radio" name="priceRange" value="2" {{autoCheck filter=priceRange match=2}}>
                <img src="/img/icons/dollar-2.png">
            </label>
            <label>
                <input type="radio" name="priceRange" value="3" {{autoCheck filter=priceRange match=3}}>
                <img src="/img/icons/dollar-3.png">
            </label>
            <label>
                <input type="radio" name="slippahCode" value="1" {{autoCheck filter=slippahCode match=1}}>
                <img src="/img/icons/slippa-1.png">
            </label>
            <label>
                <input type="radio" name="slippahCode" value="2" {{autoCheck filter=slippahCode match=2}}>
                <img src="/img/icons/slippa-2.png">
            </label>
            <label>
                <input type="radio" name="slippahCode" value="3" {{autoCheck filter=slippahCode match=3}}>
                <img src="/img/icons/slippa-3.png">
            </label>
            <label>
                <input type="checkbox" name="reservations" {{autoCheck filter=reservations match=true}}>
                <img src="/img/icons/reservations.png">
            </label>
            <label>
                <input type="checkbox" name="vegetarian" {{autoCheck filter=vegetarian match=true}}>
                <img src="/img/icons/vegetarian.png">
            </label>
            <label>
                <input type="checkbox" name="vegan" {{autoCheck filter=vegan match=true}}>
                <img src="/img/icons/vegan.png">
            </label>
            <label>
                <input type="checkbox" name="glutenFree" {{autoCheck filter=glutenFree match=true}}>
                <img src="/img/icons/gluten-free.png">
            </label>
            <label>
                <input type="checkbox" name="wifi" {{autoCheck filter=wifi match=true}}>
                <img src="/img/icons/wifi.png">
            </label>
            <label>
                <input type="checkbox" name="foodTruck" {{autoCheck filter=foodTruck match=true}}>
                <img src="/img/icons/food-trucks.png">
            </label>
            <label>
                <input type="checkbox" name="farmersMarket" {{autoCheck filter=farmersMarket match=true}}>
                <img src="/img/icons/farmers-market.png">
            </label>
            <label>
                <input type="checkbox" name="favorites" {{autoCheck filter=favorites match=true}}>
                <img src="/img/icons/favorite.png">
            </label>
            <label>
                <input type="checkbox" name="haleAinaAwards" {{autoCheck filter=haleAinaAwards match=true}}>
                <img src="/img/icons/hale-aina.png">
            </label>
            <label>
                <input type="checkbox" name="hawaiiRegionalCuisine" {{autoCheck filter=hawaiiRegionalCuisine match=true}}>
                <img src="/img/icons/hrc.png">
            </label>

        </fieldset>

        <label for="coverPhoto">Image URL: </label>
        <input type="text" id="coverPhoto" name="coverPhoto" placeholder="Image URL" value="{{coverPhoto}}" /><br>

        <fieldset id="images">
            <legend>Images:</legend>
            {{#if images}}
                {{#each images}}
                    <input type="text" name="images" value="{{this}}" />
                {{/each}}
            {{else}}
                <input type="text" name="images" placeholder="img/dir/someimage.jpg" value="" />
                <input type="text" name="images" placeholder="img/dir/someimage.jpg" value="" />
                <input type="text" name="images" placeholder="img/dir/someimage.jpg" value="" />
                <input type="text" name="images" placeholder="img/dir/someimage.jpg" value="" />
            {{/if}}
            <input id="add-image" type="text" name="images" placeholder="Add one more here..." value="" />
        </fieldset><br>

        <label for="lat">Latitude: </label>
        <input type="text" id="lat" name="lat" placeholder="Latitude" value="{{lat}}" /><br>

        <label for="lng">Longitude: </label>
        <input type="text" id="lng" name="lng" placeholder="Longitude" value="{{lng}}" /><br>


        <label for="city">City: </label>
        <input type="text" id="city" name="city" placeholder="City" value="{{city}}" /><br>

        <label for="zip">Zip Code: </label>
        <input type="text" id="zip" name="zip" placeholder="Zip code" value="{{zip}}" /><br>


        <!--<fieldset id="coffeeshopHours">-->
            <!--<legend>Hours:</legend>-->
            <!--{{#if hours}}-->
                <!--{{#each hours}}-->
                    <!--<input type="text" name="hours" value="{{this}}" />-->
                <!--{{/each}}-->
            <!--{{else}}-->
                <!--<input type="text" name="hours" placeholder="Monday: 9:00 Am - 5:00 PM" />-->
                <!--<input type="text" name="hours" placeholder="Tuesday: 9:00 Am - 5:00 PM" />-->
                <!--<input type="text" name="hours" placeholder="Wednesday: 9:00 Am - 5:00 PM" />-->
                <!--<input type="text" name="hours" placeholder="Thursday: 9:00 Am - 5:00 PM" />-->
                <!--<input type="text" name="hours" placeholder="Friday: 9:00 Am - 5:00 PM" />-->
                <!--<input type="text" name="hours" placeholder="Saturday: 9:00 Am - 5:00 PM" />-->
                <!--<input type="text" name="hours" placeholder="Sunday: 9:00 Am - 5:00 PM" />-->
            <!--{{/if}}-->
        <!--</fieldset><br>-->

        <label for="description">Description: </label>
        <textarea type="text" id="description" name="description">{{description}}</textarea><br>

        {{#if _id}}
            <button class="button" type="submit">Update Restaurant</button>
            <a href="#" hook="delete-restaurant" class="delete button" style="color: red !important" id="delete">Delete Restaurant</a>
        {{else}}
            <button class="button" type="submit">Add Restaurant</button>
            <a href="{{pathFor 'admin'}}" class="delete button">Cancel</a>
        {{/if}}

    </form>
</template>


