<template name="about">

    {{>header pageTitle="About Tasting Kauai"}}

    <div class="content">

        <div class="cover-photo" style="background-image:url('/img/2016/Marta-01-RGB.jpg')">
            <div class="cover">
                <h1 class="coffeeco">
                    About Tasting Kauai<br>
                    <span class="region">Learn about Kauai and the author</span>
                </h1>
            </div>
        </div>

        <div class="details">

            <p>Tasting Kauaʻi is dedicated to educating people about how to eat  well on the Garden Island, from seed to table. Founders, Marta Lane, a Kauaʻi-based food writer, and Daniel Lane, a freelance photographer, share insider’s information on their blog as well as food tours and this restaurant guidebook. Blog topics include Kauaʻi food news and food-related events, as well as recipes, local product and cookbook reviews, and where and when to find seasonal, exotic fruit. Food tours offer an authentic taste of the Garden Island and an opportunity to meet Kaua‘i’s exceptional food growers and makers. To find out what’s happening with food on the island right now, you can follow Tasting Kauaʻi on Twitter, Instagram and Facebook, visit our website at www.TastingKauai.com, or call toll-free 1-888-431-6660.</p>
            <h4>About the Author</h4>
            <p>Marta Lane is originally from Colorado, where she was in the television industry for 25 years and worked as a video editor for Starz and the 2008 Country Music Awards. She has been a Kauaʻi-based food writer since 2010. Marta's writing has been published in Kauaʻi MidWeek, Hana Hou! magazine, AAA Hawai‘i magazine, Edible Hawaiian Islands magazine, Hawaiian Airlines website, HILuxury magazine, Jazzercize.com, HFM Foodservice magazine, Kauaʻi Magazine, The Garden Island newspaper, Gourmet News magazine and Hawai‘i Ag magazine. In 2012 and 2013, Marta was the Farm Chairperson for the Garden Island Range & Food Festival and has been a Board Director for the Hawaiʻi Agrotourism Association since 2012. She is on the organizing committee for the Kauaʻi Writers Festival. Marta sits on the board for the Kapaʻa Business Association, which hosts the Coconut Festival every October, and organizes the Tasting Kauaʻi Coconut Cook Off.</p>
            <h4>About the Photographer</h4>
            <p>Daniel Lane is a freelance photographer who specializes in capturing life on Kauaʻi. His beautiful and sometimes quirky images are seen every week in Kauaʻi MidWeek's Poll, Paʻina Page and Eye on Kauaʻi photo spread. Daniel's client list includes Hawaiian Airlines, Kōloa Rum Company, Jim Beam, UPS, Modern Luxury magazine, Bon Appétit magazine, Kauaʻi Traveler magazine, HiLuxury magazine, Edible Hawaiian Islands magazine, JO2 restaurant, Tiki Iniki restaurant, Kauaʻi Juice Co., Kauaʻi Coffee, St. Regis Princeville Resort, Sheraton Kauaʻi Resort, Kauaʻi Marriott Resort, Aqua Kauaʻi Beach Resort, Kauaʻi Visitors Bureau and rock stars Timothy B. Schmit (of the Eagles) and Donavon Frankenreiter. He also contributes "Yum Shots" for his wife's articles and captures love and family in scenic portraits and weddings. His images can be seen at www.PonoPhoto.com.</p>
            <p>Daniel and Marta met on the slopes of Copper Mountain, Colorado, in 1995. They have worked together since 1997 and have been married since 1999. The Lanes live in Kapaʻa, Kauaʻi, with their dog, Spike a Kauaʻi Humane Society survivor. He's what's referred to in Hawaiʻi as a Poi Dog (an unknown blend of breeds). The vet is not sure, but thinks he may be a mix of Airedale and Whippet. We lost, Lucy, a tri-colored Cavalier King Charles Spaniel, in 2015. R.I.P. Bug, we miss you!</p>
            <img src="/img/2016/dogs-01.jpg" />
        </div>
    </div>
</template>

