<template name="acknowledgements">
    {{>header pageTitle="Acknowledgements"}}

    <div class="content">
<div class="details">
        <h4>In Good Company</h4>

        <p>I am eternally grateful to my husband, Daniel Lane, for his support and patience, which have allowed me to grow into myself. His devotion to detail and creative spirit have brought this book to life and ushered my dream into reality.
        </p><p>I am fortunate to do work that matters to me by connecting the dots and tracing how food gets to our communal table.
        </p><p>Thank you to Kaua‘i’s farmers and chefs who have guided me through their fields and kitchens, all the while answering countless questions.
        </p><p>Thank you, Jillian Seals, for teaching me how to grow food; Dave Power, for always saying yes; Ron Miller, for letting me know my work makes a difference; Guy Higa for your willingness to experiment and promote local food; and Jean-Marie Josselin, for your unwavering support.
        </p><p>Viviane Gilbert Stein’s careful attention to words and how they’re presented gave this book clarity.
        </p><p>I have enormous gratitude for my mentor, Pamela Varma Brown, whose high vibration and generous spirit have encouraged and informed me.
        </p><p>A heartfelt mahalo goes to Jeanne Toulon, Maris Manzano and Dania Katz for sage advice and gentle guidance.
        </p><p>I truly appreciate the small community of Kaua‘i for its positive feedback as well as my readers.
        </p><p>I wouldn’t have the courage to be who I am if it weren’t for Bruce and Magda Armstrong, my parents, who wed in 1954 and are still alive and well, living in Colorado.
        </p><p>Judy Armstrong, Ilissa Moregon and Julie Cobb, your love and light lift me to the sky. I am immensely grateful to be alive and thriving on this beautiful island. Mahalo ke Akua for that!
        </p>
        <hr>
        <h4>“One cannot think well, love well, sleep well, if one has not dined well.”<br>
        Virginia Woolf</h4>
</div>
    </div>
</template>
