<template name="choose">

    {{>header pageTitle="How We Choose Restaurants"}}

    <div class="content">

        <div class="details">

            <p>A passion for promoting wholesome food drives me. Not a single restaurant has paid us to be in this book.</p>
            <p>When deciding who to include in this book, I go by taste. I may see a new place while driving, or a reader or friend may recommend something. Daniel and I try it out as regular customers. If we like what we eat, I call them up and schedule an interview.</p>
            <p>When we arrive, I talk story with the chef and learn how their food is made. Many people are intimidated when being interviewed, but since I’m there to celebrate food, they quickly become comfortable and their passion soon spills into the conversation. That’s what it really is, a conversation called “The Interview.”</p>
            <p>I learn how they got into the business and why cooking makes them happy. I learn about their struggles and triumphs. I get a copy of the menu and go over it with the chef. French fries that took three days to make; house-cured bacon; whole, local animals broken down and made into nourishing meals; smoked meat; whole, local fish cut just before it’s cooked; house-baked bread; fresh vegetables bought at the farmers market; house-made mustards, pickles and sauces and handcrafted cocktails — all those are just some of the things restaurants do here every day.</p>
            <p>When I first started, I couldn’t believe I was getting paid to write about food! As it turns out, it’s a lot like work. I’ve learned that I take good food seriously. During a meal I take copious notes of how things taste, look, smell, feel and even sound. I notice the atmosphere, if the energy is convivial and how clean the place is.</p>
            <p>If we like a restaurant, it goes in our restaurant guide book. If we really like a restaurant, it’s identified by a pink hibiscus. Making food with fresh ingredients and sourcing locally takes a lot of extra time and effort, and we highlight those who make that a priority.</p>

        </div>
    </div>
</template>