<template name="download">
    <link rel="stylesheet" media="screen" href="/landing/screen.css">
    <div id="root" class=" theme-a has-gradient">
        <article id="welcome">
            <figure class="mobile-a"><img src="/landing/images/screenshot.png" alt="Placeholder" width="297" height="526"></figure>
            <h2>Tasting Kauai</h2>
            <p style="color: #fff; font-size: 18px; line-height: 24px">An insider's guide to eating well on the garden island.</p>
            <ul class="download-a a">
                <li class="as"><a rel="external" href="#">Download on the App Store</a></li>
                <li class="gp"><a rel="external" href="#">Get it on Google Play</a></li>
            </ul>
        </article>
        <section id="content" class="a">
            <article>
                <header class="heading-a">
                    <h3><span class="small">Restaurant Guide Overview</span> <span class="strong">About Tasting Kauai</span></h3>
                    <p>From food trucks to fine dining, this guidebook to restaurants on Kauai is designed to take you on a culinary romp through paradise. Colorful images evoke your senses and whimsical graphics provide essential information. Icons make it easy to reference what types of meals the restaurant serves as well as price ranges and dress code. Vegetarian, vegan and gluten-free icons identify dining options for those on alternative diets. Additional icons point out free Wi-Fi, food trucks and when reservations are recommended.</p>
                    <p>Written by Kauai’s only full-time food writer, these listings are based on the work of Marta and Daniel Lane. You can read “How We Choose Restaurants” to learn what it takes to get listed in Tasting Kauai: Restaurants. We humbly give a portion of book and culinary tour sales to the Hawaii Food Bank – Kauai Branch.</p>
                </header>
            </article>

            <article class="vb">
                <header class="heading-a b">
                    <h3><span class="strong">Get The App</span></h3>
                    <p style="padding-top: 8px">Choose your platform and get started!</p>
                </header>
                <ul class="download-a a">
                    <li class="as"><a rel="external" href="./">Download on the App Store</a></li>
                    <li class="gp"><a rel="external" href="./">Get it on Google Play</a></li>
                </ul>
            </article>

            <article>
                <p style="text-align: center"><a href="{{pathFor 'admin'}}">Administrator Login &rarr;</a></p>
            </article>
        </section>

    </div>
</template>