<template name="foodToursEastSide">
    {{>header pageTitle="East Side Food Tour"}}
    <div class="content">
        <div class="cover-photo" style="background-image:url('/img/food-tours/east-side.jpg')">
            <div class="cover">
                <h1 class="coffeeco">
                    Royal Coconut Coast Food Tour<br>
                    <span class="region">Once Per Month, on a Thursday<br>12PM to 4:30PM</span>
                </h1>
            </div>
        </div>
        <div class="details">
            <p>Our tours are a playful, educational edible experiences that are based on the seasons. Yes, Kauai has seasons! As a small, family owned business, Tasting Kauai is able to add a personal touch to create memorable experiences infused with aloha. This unique tour can’t be experienced anywhere else on Kauai. Custom tours available.</p>
            <h4>What you’ll do and taste on our Royal Coconut Coast Food Tour</h4>
            <p>Hop in your car and follow our guide on a tasting adventure through Kauai’s east side. You’ll sample everything from food trucks to fine dining!</p>
            <ul class="bullets">
                <li>4-hour tour</li>
                <li>Exclusive access</li>
                <li>Insider information</li>
                <li>Intimate groups</li>
                <li>Private&nbsp;tasting&nbsp;with Jean Marie&nbsp;Josselin, local&nbsp;legend and a founding chef of Hawaii Regional Cuisine</li>
                <li>Tastings at 5 stops along the Royal Coconut Coast</li>
                <li>Take a 90-minute&nbsp;farm tour and taste what’s in season</li>
                <li>Sample traditional Hawaiian food</li>
                <li>Taste&nbsp;paniolo (Hawaiian cowboy)&nbsp;food</li>
                <li>Review&nbsp;plantation culture and history</li>
                <li>Learn about taro farming</li>
                <li>Indulge your senses at breezy&nbsp;seaside stops</li>
                <li>Enjoy tastings at some of the East Side’s best farm-to-table restaurants</li>
                <li>Get a behind-the-scenes look at one of the top restaurants along the Royal Coconut Coast</li>
            </ul>
            <p>
                <a href="https://www.peek.com/purchase/activity/5696a18452c82cb7eb0015d7/select_tickets" hook="dispatch" class="button">Book This Tour</a>
            </p>
            <p><i>PS: Bring a copy of our restaurant guidebook on tour with you so the chefs can autograph their page!</i></p>

        </div>

    </div>


</template>