<template name="foodToursFarmersMarket">
    {{>header pageTitle="Farmers Market Food Tour"}}
    <div class="content">
        <div class="cover-photo" style="background-image:url('/img/food-tours/farmers-market.jpg')">
            <div class="cover">
                <h1 class="coffeeco">
                    Farmers Market Food Tour<br>
                    <span class="region">Wednesdays</span>
                </h1>
            </div>
        </div>
        <div class="details">
            <p>Our tours are a playful, educational edible experiences that are based on the seasons. Yes, Kauai has seasons! As a small, family owned business, Tasting Kauai is able to add a personal touch to create memorable experiences infused with aloha. This unique tour can’t be experienced anywhere else on Kauai. Custom tours available.</p>
            <h4>What you’ll do and taste on our Farmer's Market Food Tour</h4>
            <p>Learn to enjoy Kauai by getting to know its food and produce in this 1 hour Farmers Market Tour</p>
            <ul class="bullets">
                <li>Meet local farmers</li>
                <li>Learn how to select perfect produce</li>
                <li>Learn when produce is in season</li>
                <li>Learn how to cook with Kauai produce</li>
            </ul>
            <p>
                <a href="https://www.peek.com/purchase/activity/5696a15c6f2947873d00163b/select_tickets" hook="dispatch" class="button">Book This Tour</a>
            </p>
            <p><i>PS: Bring a copy of our restaurant guidebook on tour with you so the chefs can autograph their page!</i></p>

        </div>

    </div>


</template>