<template name="foodBank">
    {{>header pageTitle="Hawaii Food Bank"}}

    <div class="content">

        <div class="details">
            <h4>Hawaii Food Bank - Kauai Branch</h4>

            <p>Daniel and I are very fortunate to have our kitchen stocked with healthy, vibrant food grown and made on Kauaʻi. We realize that not everyone is as lucky. With a strong desire to make fresh food available to everyone, we donate a portion of the proceeds from the sale of this book to the Hawai‘i Food Bank — Kauaʻi Branch. Mahalo nui loa (thank you very much) for all the work you do to keep our island’s children, women and men fed.</p>

            <div class="card">
                <ul class="table-view">
                    <li class="table-view-cell"><a href="http://www.hawaiifoodbank.org/KauaiBranch.aspx" hook="dispatch" class="navigate-right-external">Hawaii Food Bank Website</a></li>
                </ul>
            </div>

            <p class="center"><a href="http://www.hawaiifoodbank.org/KauaiBranch.aspx" hook="dispatch"><img src="/img/hfb.jpg" style="width: 100%; padding: 10px; background: #fff; border: 1px solid #ddd; border-radius: 5px;"></a></p>
        </div>
    </div>
</template>
