<template name="foodTours">
    {{>header pageTitle="Food Tours"}}
    <div class="content">
        <ul>
            <li class="coffeeshop">
                <a href="{{pathFor 'foodToursNorthShore'}}" class="navigate-right">
                    <div class="cover-photo" style="background-image:url('/img/food-tours/north-shore.jpg')">
                        <div class="cover">
                            <h1 class="coffeeco">
                                Kauai Food Tour - North Shore<br>
                                <span class="region">Tuesdays</span>
                            </h1>
                        </div>
                    </div>
                </a>
            </li>
            <li class="coffeeshop">
                <a href="{{pathFor 'foodToursSouthShore'}}" class="navigate-right">
                    <div class="cover-photo" style="background-image:url('/img/food-tours/south-shore.jpg')">
                        <div class="cover">
                            <h1 class="coffeeco">
                                Kauai Food Tour - South Shore<br>
                                <span class="region">Wednesdays</span>
                            </h1>
                        </div>
                    </div>
                </a>
            </li>

            <li class="coffeeshop">
                <a href="{{pathFor 'foodToursEastSide'}}" class="navigate-right">
                    <div class="cover-photo" style="background-image:url('/img/food-tours/east-side.jpg')">
                        <div class="cover">
                            <h1 class="coffeeco">
                                Kauai Food Tour - East Side<br>
                                <span class="region">Once Per Month, on a Thursday</span>
                            </h1>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</template>