<template name="glossary">

    {{>header pageTitle="Glossary"}}

    <div class="content">

        <div class="details">

        <h4>Crack Seed</h4>
        <p>Chinese snack made of dried fruit combined with salt and/or sugar. Flavors include rock salt plum, li hing mui, honey mango, licorice peach.
        </p><h4>Chicken Hekka</h4><p>
        Many residents with roots in the plantation era would likely say this is the classic plantation dish. The stir-fried dish is typically made with chicken, but pork or beef can be used. The one-pot meal is usually made with bamboo shoots, vegetables, long rice, soy sauce, ginger and sugar.
        </p><h4>Chicken Katsu</h4><p>
        A Japanese preparation of chicken cutlets coated in bread crumbs (panko), deep fried and sliced into 1-inch strips. It’s typically served on its own, with a side of steamed white rice and mac salad, or over saimin.
        </p><h4>Chicken Long Rice</h4><p>
        A soupy mixture of chicken broth, long rice, shredded chicken and green onions.
        </p><h4>Furikake</h4><p>
        Japanese condiment, usually made of dried seaweed, bonito flakes, sesame seeds and salt, typically used to garnish steamed rice. It can also be sprinkled on baked or fried fish, raw fish salads, popcorn or snack party mixes.
        </p><h4>Halo Halo</h4><p>
        Filipino frozen dessert made with shaved ice, fruit, sweet beans, jello or other sweets topped with custard or ice cream and evaporated or coconut milk.
        </p><h4>He‘e</h4><p>
        Hawaiian name for octopus. Pronounced “heh eh.” Japanese name is tako.
        </p><h4>Haupia</h4><p>
        Traditionally, this custard-like dessert was made with fresh coconut meat that was pounded and thickened with arrowroot. Today, coconut milk is blended with cornstarch, chilled until firm and cut into delicious cubes. Pronounced “how pee a.”
        </p><h4>‘Inamona</h4><p>
        Hawaiian seasoning made from kukui nut meat that has been roasted, ground and mixed with salt. This is a typical seasoning in pokē.
        </p><h4>Kalbi</h4><p>
        Korean barbecued beef short ribs marinated in a sweet soy and sesame mixture. Kalbi refers to grilled dishes in Korea.
        </p><h4>Kālua Pork</h4><p>
        Traditionally, whole pork was cooked in an underground oven called an imu along with vegetables such as sweet potatoes, taro and breadfruit. Today, most kālua pork is made in an oven with pork shoulder, liquid smoke and salt. Some commercial luaus use an imu and families have pits in their back yard where they also tuck in a pan of rice pudding. If you ever get a chance to try rice pudding cooked in an imu, take it!
        </p><h4>Kūlolo</h4><p>
        A traditional dessert made with taro and coconuts. White or brown sugar is added to the thick mixture and cooked. My best description is a Hawaiian brownie that is sticky and slightly sweet. A special treat is kūlolo made with bro wn sugar and cooked in an imu.
        </p><h4>Laulau</h4><p>
        Pork, chicken, fish or vegetables sprinkled with sea salt and wrapped in taro leaves, and steamed for up to eight hours. To prevent disintegration, the bundles are wrapped in inedible ti leaves; when cooked, the taro leaves resemble spinach.
        </p><h4>Li Hing Mui</h4><p>
        In Chinese, “li hing” means traveling and “mui” means plum. The sour fruit, which is related to plum and apricot trees, is preserved in salt and flavored with sugar or licorice. Li hing mui can be purchased whole for a snack, or powdered and sprinkled on fresh fruit or rimmed in cocktails.
        </p><h4>Loco Moco</h4><p>
        Originating in Hilo, on the Big Island, loco moco is an iconic Hawaiian comfort food. Author Arnold Hiura describes it best in his book Kau Kau: Cuisine & Culture in the Hawaiian Islands: “You start with a generous bed of steaming-hot white rice. Add a homemade hamburger patty, fried so the juices are still dribbling out of it. Gently slide an egg onto the burger so its yolk (sunny-side-up or over-easy) does not break until you’re ready to eat it. Cover the whole concoction with brown gravy. Break the yolk so that it oozes down into the hamburger juices and brown gravy. Together, the yolk and juices and gravy cascade down into the starchy depths of the rice, filling every nook and cranny and completing the exquisite symphony of flavors that is the joy of loco moco.”
        </p><h4>Lomilomi Salmon</h4><p>
        Lomilomi means “to massage” in Hawaiian, and that’s what happens when cubes of salted salmon, ice, tomatoes and onions are mixed by hand. Over the centuries, Hawaiians perfected the art of preserving fish with salt. When salmon became available from Pacific Northwest and Alaskan sailors, it was embraced by the Hawaiians and added to their culturally diverse list of ethnic foods.
        </p><h4>Long Rice</h4><p>
        Cellophane or Chinese bean thread noodles.
        </p><h4>Lū‘au</h4><p>
        Taro leaves slow-cooked in coconut milk.
        </p><h4>Macaroni Salad</h4><p>
        There’s no direct line that points to macaroni salad’s ubiquitous presence in Hawai‘i. Pasta, potatoes and mayonnaise have European roots and may have been introduced by Mainland chefs cooking in resort kitchens. Or, plantation managers of European descent may have asked their domestic help to prepare the cherished dish. Either way, today’s mac salad is made with macaroni and mayonnaise; other ingredients are left to the cook. I’ve had it with taro, or combinations of potatoes, carrots, peas, eggs and onions.
        </p><h4>Malasadas</h4><p>
        Balls of Portuguese sweet pastry dough (similar to donuts, only heavier), deep-fried and rolled in sugar, cinnamon or a combination of the two. When done right, as by Marlena in front of K-Mart, they are crisp and sugary on the outside and springy on the inside. The moist, dense, yet light crumb is punctuated with air pockets and they are an absolute delight to eat.
        </p><h4>Manapua</h4><p>
        Chinese steamed or baked buns filled with meat. Fillings include sweet Chinese barbecued or roasted pork (char siu), lup cheong (sweet, oily Chinese sausage), chicken or vegetables. Manapua derives from mea ono pua‘a; “mea ono” for cake or pastry, and puaʻa (pronounced “poo ah ah”) for pork.
        </p><h4>Mochi</h4><p>
        A glutinous rice cake made with pounded, cooked rice and various flavorings. Mochi is a traditional food for the Japanese New Year and can be stuffed with sweet fillings or wrapped around ice cream.
        </p><h4>Poi</h4><p>
        Cooked taro corms that are ground and mixed with water. This is traditionally served with salty food such as kālua pork or lomilomi salmon and not meant to be eaten as a stand-alone.
        </p><h4>Pokē</h4><p>
        Pokē (pronounced “po kay”) is a simple preparation of raw fish, Maui onions, seaweed (limu), Hawaiian sea salt and ʻinamona. ‘Ahi pokē features glistening cubes of sweet, raw tuna. Tako pokē includes slow-cooked and tender heʻe (octopus). Edamame pokē is made with soybean pods drenched in soy sauce and sesame oil.
        </p><h4>Pupu</h4><p>
        A term used in Hawai‘i for appetizers. The term may have originated in 1934 at Don the Beachcomber restaurant. (Pronounced “poo poo.”)
        </p><h4>Saimin</h4><p>
        A bowl of this noodle soup is like wrapping up in a fuzzy blanket on a blustery day. There’s always curly strands of noodles (made from wheat and eggs) floating in a light dashi broth. But the cook can add scallions, crab cake, char siu, eggs and chicken katsu. Although saimin is unique to Hawai’i, the dish originated during the plantation era and the name comes from two Chinese words: sai (thin) and mein (noodle).
        </p><h4>Shoyu</h4><p>
        Japanese word for soy sauce.
        </p><h4>SPAM® Musubi</h4><p>
        In the tradition of Japanese onigiri, steamed white rice is shaped into a rectangle and wrapped in nori. When SPAM® was introduced to Hawai‘i during World War II, it became immensely popular. Under war rations, the long-term storage, availability and affordability of SPAM® inspired residents to stock their pantry with the salty pork product. Onigiri is a Japanese snack made of steamed, white rice wrapped in nori. In Japan it’s typically stuffed with pickled plum known as ume; salted salmon; dried, fermented and smoked skipjack tuna; an edible kelp called kombu; or tarako, Alaskan pollock. It was only a matter of time before a Japanese plantation worker in Hawaiʻi slipped a thick slice of seared SPAM® onto a rectangle of white rice, brushed it with teriyaki sauce and wrapped it in nori. Today, the satisfying snack food is typically found under warming lights at gas stations and grocery stores.
        </p><h4>Teriyaki Sauce</h4><p>
        A blend of soy sauce, sugar, ginger and garlic. It’s used on chicken, beef vegetables and fish. In fact, the Hanalei Dolphin’s signature Teriyaki ‘Ahi is the best teri fish I’ve ever had. (See listing on page 6 for details.)
        </p><h4>Warabi</h4><p>
        In Japan, fiddlehead ferns are called warabi; in Hawai‘i they’re called hōʻiʻo. Growing wild in Hawai’i, these green slender stalks with curly tops were foraged along with bamboo shoots. Today, they’re typically blanched and made into a salad with tomatoes, Maui (sweet) onions, ginger, sesame oil and soy sauce topped with cubes of crispy pork belly or slices of smoked pork shoulder.
            </p>
        </div>
    </div>
</template>

