<template name="home">
    {{>header pageTitle="Tasting Kauai Restaurant Guide"}}
    <div class="content">
        <ul>
            <li class="coffeeshop">
                <a href="{{pathFor 'restaurants'}}" class="navigate-right">
                    <div class="cover-photo" style="background-image:url('/img/restaurants-bg.jpg')">
                        <div class="cover">
                            <h1 class="coffeeco">
                                Restaurants<br>
                                <span class="region">View and search restaurants</span>
                            </h1>
                        </div>
                    </div>
                </a>
            </li>

            <li class="coffeeshop">
                <a href={{pathFor 'nearby'}} class="navigate-right">
                    <div class="cover-photo" style="background-image:url('/img/map-bg.jpg')">
                        <div class="cover">
                            <h1 class="coffeeco">
                                Nearby<br>
                                <span class="region">See what's close on a map</span>
                            </h1>
                        </div>
                    </div>
                </a>
            </li>
            <li class="coffeeshop">
                <a href="{{pathFor 'howTo'}}" class="navigate-right">
                    <div class="cover-photo" style="background-image:url('/img/book-bg.jpg')">
                        <div class="cover">
                            <h1 class="coffeeco">
                                How to use this app<br>
                                <span class="region">Get the most out of our app</span>
                            </h1>
                        </div>
                    </div>
                </a>
            </li>
            <li class="coffeeshop">
                <a href="{{pathFor 'about'}}" class="navigate-right">
                    <div class="cover-photo" style="background-image:url('/img/2016/marta-01-RGB.jpg')">
                        <div class="cover">
                            <h1 class="coffeeco">
                                About Tasting Kauai<br>
                                <span class="region">Learn about Kauai and the author</span>
                            </h1>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</template>