<template name="legend">

    {{>header pageTitle="Understanding The Icons"}}

    <div class="content">

        <div class="details">

            <h4>Food Service</h4>
            <div class="icons icons-large">
                <p>
                    <img src="/img/icons/breakfast.png">
                    <img src="/img/icons/lunch.png">
                    <img src="/img/icons/dinner.png">
                </p>
            </div>
            <p>These abbreviations indicate the types of meals each establishment serves.</p>
            <p><b>B:</b> Breakfast</p>
            <p><b>L:</b> Lunch</p>
            <p><b>D:</b> Dinner</p>

            <hr>

            <h4>Price Range</h4>
            <div class="icons icons-large">
                <p>
                    <img src="/img/icons/dollar-1.png">
                    <img src="/img/icons/dollar-2.png">
                    <img src="/img/icons/dollar-3.png">
                </p>
            </div>
            <p>This represents an average price range. Some menu items may be more or less. If any combination of breakfast, lunch or dinner is served, the price range represents the dinner menu. One dollar sign indicates most meals range between $5 and $10. Two dollar signs represent meals that average $10 to $20. Three dollar signs indicate a menu where most meals are $20 and above. Prices listed are based on the time of this printing; they may, of course, change.</p>

            <hr>

            <h4>Slippah Code</h4>
            <div class="icons icons-large">
                <p>
                    <img src="/img/icons/slippa-1.png">
                    <img src="/img/icons/slippa-2.png">
                    <img src="/img/icons/slippa-3.png">
                </p>
            </div>
            <p>“Hang Loose” is not only a saying but a lifestyle, and in Hawai‘i, most everyone walks around in flip-flop sandals known as slippahs. I’ve decided to honor this casual island tradition with a dignified place in my listings. The Slippah Code is a simple system that ranks a restaurant’s dress code. There are three general categories, because in paradise we don’t like to get too complicated!</p>
            <p><b>ONE SLIPPAH:</b> Very casual. You can go dressed in a bikini top and sarong, because your only options are to eat outside or take it with you.</p>
            <p><b>TWO SLIPPAH:</b> You better put on a T-shirt, and make sure you have both slippahs on your feet. If you’ve been playing in the water, bring a dry towel to sit on because salt water damages the chairs. Once you have satisfied these minimum requirements, anything else is a bonus.</p>
            <p><b>THREE SLIPPAH:</b> Wash off the salt water, shave your face and put on your finest aloha shirt. Wear nice shoes, and linen pants or a flouncy dress. You could certainly get buttoned up for these fine-dining restaurants, but why? We’re in paradise!</p>


            <hr>

            <h4>Reservations</h4>
            <div class="icons icons-large">
                <p>
                    <img src="/img/icons/reservations.png">
                </p>
            </div>
            <p>If you see this icon, that means reservations are recommended.</p>

            <hr>

            <h4>Alternative Diets</h4>
            <div class="icons icons-large">
                <p>
                    <img src="/img/icons/vegetarian.png">
                    <img src="/img/icons/vegan.png">
                    <img src="/img/icons/gluten-free.png">
                </p>
            </div>
            <p>Kauaʻi is a haven for those seeking healthy lifestyles and food options. Most of the restaurants listed have menu items or substitutions for those on alternative diets.</p>

            <p><b>VEGETARIAN:</b> This Leaf icon illustrates which restaurants offer vegetarian meals that are more than salads. For this listing, the definition of vegetarian includes dairy products and eggs, but no fish or animal meat.</p>
            <p><b>VEGAN:</b> This V icon indicates that a restaurant offers vegans more options than just salads.</p>
            <p><b>GLUTEN-FREE:</b> This GF icon marks which restaurants offer gluten-free options, but be aware that meals are not necessarily made in a dedicated gluten-free environment.</p>


            <hr>

            <h4>Wi-Fi</h4>
            <div class="icons icons-large">
                <p>
                    <img src="/img/icons/wifi.png">
                </p>
            </div>
            <p>This icon indicates free Wi-Fi is available.</p>


            <hr>

            <h4>Food Truck</h4>
            <div class="icons icons-large">
                <p>
                    <img src="/img/icons/food-trucks.png">
                </p>
            </div>
            <p>Kauaʻi has some amazing food trucks that serve fresh, flavorful meals quickly. Some folks are nervous about eating at food trucks, but you won’t be disappointed when eating at these. Food trucks are my go-to when I want fast food.</p>


            <hr>

            <h4>Farmers Market</h4>
            <div class="icons icons-large">
                <p>
                    <img src="/img/icons/farmers-market.png">
                </p>
            </div>
            <p>A lot of local food businesses start out by selling their products at the Island’s farmers markets. We have listed a few as well as the specific farmers market(s) at which these chefs sell. Some of these people are available as private chefs and offer catering services as well. We have included a short list of private chefs at the end of this book.</p>


            <hr>

            <h4>Favorites</h4>
            <div class="icons icons-large">
                <p>
                    <img src="/img/icons/favorite.png">
                </p>
            </div>
            <p>People often ask which restaurant on Kauaʻi is my favorite. The question is always presented in a conspiratorial tone that suggests, “If you could only eat at one place, where would it be?” It’s a tough question because there are too many considerations for a blanket, one-size-fits-all answer. It depends on what kind of ambiance I’m in the mood for, how hungry I am, how much time and money I want to spend, what side of the island I’m on and the kind of food I’m craving. You can be sure that if you see this icon, the listing is one of our top considerations!</p>



            <hr>

            <!--<h4>Hale Aina Awards</h4>-->
            <!--<div class="icons icons-large">-->
                <!--<p>-->
                    <!--<img src="/img/icons/hale-aina.png">-->
                <!--</p>-->
            <!--</div>-->
            <!--<p>Each year, readers of HONOLULU magazine vote for their favorite restaurants in the Hawaiian Islands. Kauaʻi-based restaurants can win a Gold, Silver or Bronze award for Best Kauaʻi Restaurant, place as one of two Finalists, or win the Top Write-in Vote. This icon highlights 2014’s winners.</p>-->


            <!--<hr>-->

            <h4>Hawaii Regional Cuisine</h4>
            <div class="icons icons-large">
                <p>
                    <img src="/img/icons/hrc.png">
                </p>
            </div>
            <p>In 1935, Pan American Airways began to fly visitors to Hawai‘i. At the time, Hawai‘i’s high-end restaurants were only located in resorts, and ingredients, which were flown in from across the world, were cooked by European chefs. In the early 1980s, 12 chefs came together to figure out how they could source fresh ingredients — especially fish — locally. By using diverse ethnic techniques when cooking local ingredients, these chefs created Hawai‘i Regional Cuisine. The movement provided local growers with an expanding market, and forever changed food in Hawai‘i. Today, many restaurants serve Hawai‘i Regional Cuisine — but in this book, this icon means the restaurant is owned and/or operated by a founding HRC chef. Those chefs include:</p>
            <ul>
                <li>Sam Choy</li>
                <li>Roger Dikon</li>
                <li>Mark Ellman</li>
                <li>Amy Ferguson</li>
                <li>Bev Gannon</li>
                <li>Jean-Marie Josselin</li>
                <li>George “Mavro” Mavrothalassitis</li>
                <li>Peter Merriman</li>
                <li>Philippe Padovani</li>
                <li>Gary Strehl</li>
                <li>Alan Wong</li>
                <li>Roy Yamaguchi</li>
            </ul>



        </div>
    </div>
</template>