<template name="language">
    {{>header pageTitle="Hawaiian Language"}}

    <div class="content">

        <div class="details">

<p>Hawaiian Language
    Navigating Kauaʻi is a lot more fun when you have basic language skills. I’ve included a short summary of Hawaiian language rules, its alphabet and commonly mispronounced words on the Garden Island. Learning to pronounce each vowel, and perfecting your glottal stop, will enable you to be clearly understood should you have to ask for directions. Plus, it’s fun!
    Rules
    There are no consonant clusters in the Hawaiian language.
    Hawaiian words end with a vowel.
    All Hawaiian words have at least one vowel.
    An ‘okina (‘) is a glottal stop. It is considered a consonant, and only appears between vowels.
    The kahakō  ( ¯ ) makes vowels longer, so it only occurs over vowels.
    Hawaiian Alphabet
    There are 13 letters in the Hawaiian alphabet: a, e, h, i, k, l, m, n, o, p, u, w and the ‘okina. Consonants are pronounced the same as they are in English, and the ‘okina (‘) is the sound that occurs between “oh-oh.” The vowels — stressed and unstressed — sound like:
    a - “ah,” like the a in above
    ā - “aah,” like the a in avocado
    e - “eh,” like the e in let
    ē - “ayy,” like the e in net
    i - “ee,” like the e in easy
    ī - “eee,” like the ee in bee
    o - “oh,” like the o in pole
    ō - “ohh,” like the o in goal
    u - “oo,” like the u in tune
    ū - “ooo,” like the oo in moon
    Vowel combinations are usually merged into a single sound. For example ou, as in soul; oi, as in loiter; au, like “ow” in pow; ae, like “y” in my; ei, as in veil; ai, like “i” in like; au, like “ou” in out; and au, like “ow” in low.
    Plural
    There is no “s” in the Hawaiian language. The basic way to pluralize a word is to put “nā” before the word. For example: lei, neck garland; nā lei, neck garlands. Pua, flower; nā pua, flowers.
    Mispronounced Words
    This is a general guideline when pronouncing popular streets, destinations and cities. A space represents the ‘okina, or glottal stop, and a dash indicates the pronunciation within one group of letters. Often, the ‘okina is removed but I have included it here.
    Word and Pronunciation
    Kauaʻi  is  Kah-wa ee
    Kōkeʻe  is  Ko-keh eh
    ‘Ele‘ele  is  El-eh el-eh
    Po‘ipū  is  Po ee-poo
    Līhuʻe  is  Lee-hoo eh
    Nāwiliwili  is  Na-wee-lee-wee-lee
    Kapa‘a  is  Kah-pah ah
    Hā‘ena  is  Hah ay-nah
    Ke‘e  is  Keh eh
    Wai‘ale‘ale  is  Why ah-lay ah-lay
    Maha‘ulepu  is  Ma-ha oo-lay-poo
    Opaeka‘a  is  Oh-pie-kah ah
    Kuamo‘o  is  Coo-ah-mo oh
    Kūhiō  is  Coo-he-oh</p>
        </div>
    </div>
</template>
