<template name="language">
    {{>header pageTitle="Hawaiian Language"}}

    <div class="content">

        <div class="details">

    <p>Navigating Kauaʻi is a lot more fun when you have basic language skills. I’ve included a short summary of Hawaiian language rules, its alphabet and commonly mispronounced words on the Garden Island. Learning to pronounce each vowel, and perfecting your glottal stop, will enable you to be clearly understood should you have to ask for directions. Plus, it’s fun!
    </p><h4>Rules
        </h4><p>There are no consonant clusters in the Hawaiian language.
        </p><p>Hawaiian words end with a vowel.
        </p><p>All Hawaiian words have at least one vowel.
        </p><p>An ‘okina (‘) is a glottal stop. It is considered a consonant, and only appears between vowels.
        </p><p>The kahakō  ( ¯ ) makes vowels longer, so it only occurs over vowels.
        </p><h4>Hawaiian Alphabet
        </h4><p>There are 13 letters in the Hawaiian alphabet: a, e, h, i, k, l, m, n, o, p, u, w and the ‘okina. Consonants are pronounced the same as they are in English, and the ‘okina (‘) is the sound that occurs between “oh-oh.” The vowels — stressed and unstressed — sound like:
        </p><p>a - “ah,” like the a in above
        </p><p>ā - “aah,” like the a in avocado
        </p><p>e - “eh,” like the e in let
        </p><p>ē - “ayy,” like the e in net
        </p><p>i - “ee,” like the e in easy
        </p><p>ī - “eee,” like the ee in bee
        </p><p>o - “oh,” like the o in pole
        </p><p>ō - “ohh,” like the o in goal
        </p><p>u - “oo,” like the u in tune
        </p><p>ū - “ooo,” like the oo in moon
        </p><p>Vowel combinations are usually merged into a single sound. For example ou, as in soul; oi, as in loiter; au, like “ow” in pow; ae, like “y” in my; ei, as in veil; ai, like “i” in like; au, like “ou” in out; and au, like “ow” in low.
        </p><h4>Plural
        </h4><p>There is no “s” in the Hawaiian language. The basic way to pluralize a word is to put “nā” before the word. For example: lei, neck garland; nā lei, neck garlands. Pua, flower; nā pua, flowers.
        </p><h4>Mispronounced Words
        </h4><p>This is a general guideline when pronouncing popular streets, destinations and cities. A space represents the ‘okina, or glottal stop, and a dash indicates the pronunciation within one group of letters. Often, the ‘okina is removed but I have included it here.
        </p><h4>Word and Pronunciation
        </h4><p>Kauaʻi  is  Kah-wa ee
        </p><p>Kōkeʻe  is  Ko-keh eh
        </p><p>‘Ele‘ele  is  El-eh el-eh
        </p><p>Po‘ipū  is  Po ee-poo
        </p><p>Līhuʻe  is  Lee-hoo eh
        </p><p>Nāwiliwili  is  Na-wee-lee-wee-lee
        </p><p>Kapa‘a  is  Kah-pah ah
        </p><p>Hā‘ena  is  Hah ay-nah
        </p><p>Ke‘e  is  Keh eh
        </p><p>Wai‘ale‘ale  is  Why ah-lay ah-lay
        </p><p>Maha‘ulepu  is  Ma-ha oo-lay-poo
        </p><p>Opaeka‘a  is  Oh-pie-kah ah
        </p><p>Kuamo‘o  is  Coo-ah-mo oh
        </p><p>Kūhiō  is  Coo-he-oh</p>
        </div>
    </div>
</template>
