<template name="more">

    {{>header pageTitle="More Resources"}}

    <div class="content">

        <div class="details">

            <div class="card">
                <ul class="table-view">
                    <li class="table-view-cell"><a href="{{pathFor 'foodTours'}}" class="navigate-right">Go on a food tour</a></li>
                    <li class="table-view-cell"><a href="#" class="navigate-right">Buy our book in print</a></li>
                    <li class="table-view-cell"><a href="#" class="navigate-right">Glossary</a></li>
                    <li class="table-view-cell"><a href="#" class="navigate-right">Hawaiian Language</a></li>
                    <li class="table-view-cell"><a href="#" class="navigate-right">Hawaii Food Bank</a></li>
                    <li class="table-view-cell"><a href="#" class="navigate-right">Tips</a></li>
                    <li class="table-view-cell"><a href="{{pathFor 'howTo'}}" class="navigate-right">How to use this app</a></li>
                    <li class="table-view-cell"><a href="{{pathFor 'about'}}" class="navigate-right">About Tasting Kauai</a></li>
                    <li class="table-view-cell"><a href="#" class="navigate-right">Acknowledgements</a></li>
                </ul>
            </div>

        </div>
    </div>
</template>