<template name="foodToursNorthShore">
    {{>header pageTitle="North Shore Food Tour"}}
    <div class="content">
        <div class="cover-photo" style="background-image:url('/img/food-tours/north-shore.jpg')">
            <div class="cover">
                <h1 class="coffeeco">
                    North Shore Food Tour<br>
                    <span class="region">Tuesdays<br>11AM to 3PM</span>
                </h1>
            </div>
        </div>
        <div class="details">
            <p>Our tours are a playful, educational edible experiences that are based on the seasons. Yes, Kauai has seasons! As a small, family owned business, Tasting Kauai is able to add a personal touch to create memorable experiences infused with aloha. This unique tour can’t be experienced anywhere else on Kauai. Custom tours available.</p>
            <h4>What you’ll do and taste on our North Shore Food Tour</h4>
            <p>Hop in your car and follow our guide on a tasting adventure through Kauai’s lush North Shore. You’ll sample everything from food trucks to fine dining!</p>
            <ul class="bullets">
                <li>4-hour tour</li>
                <li>Exclusive access</li>
                <li>Insider information</li>
                <li>Intimate groups</li>
                <li>Personal introductions to some of Kauai’s top chefs</li>
                <li>Tastings at 5 stops on the North Shore</li>
                <li>Private tastings with top chefs at the luxurious St. Regis Princeville Resort</li>
                <li>Experience out-of-the way establishments</li>
                <li>Sample traditional Hawaiian food</li>
                <li>Learn about Tiki cocktail culture</li>
                <li>Meet farmers</li>
                <li>Meet food artisans</li>
                <li>Sample some of the best food the North Shore has to offer</li>
                <li>The tour ends at a farmers market – stroll through the market and purchase gifts of aloha, or food to enjoy during your stay</li>
            </ul>
            <p>
                <a href="https://www.tastingkauai.com/kauai-food-tour/north-shore/" class="button">Book This Tour On Our Website</a>
            </p>

        </div>

    </div>


</template>