<template name="overview">

    {{>header pageTitle="Restaurant Guide Overview"}}

    <div class="content">

        <div class="details">

            <p>While there are nearly 700 restaurants on Kaua'i, this collection is an exclusive listing based on our work. I describe food that I have tasted so you can get an idea of the type of food served at each location. Our book gets updated every year (this app might get a few extra updates every year), but restaurants change their menus more often than that. Restaurant hours also change. For these reasons, we provide a link to each restaurant’s website or Facebook page so you can find current menus and hours.</p>
            <p>I’ve also included the address, phone number and type of food served (i.e.: Hawai‘i Regional Cuisine, Mexican, etc). Some "restaurants" are only at farmers markets. For a complete listing of farmers markets, visit the Farmers.</p>
            <p>The information offered in this book is based on my preferences, which are refined by research as a Kauaʻi-based food and farm writer. I offer no guarantees and assume the reader understands that fluctuations in quality may occur.</p>

        </div>
    </div>
</template>