<template name="foodToursShortOrder">
    {{>header pageTitle="Short Order Food Tour"}}
    <div class="content">
        <div class="cover-photo" style="background-image:url('/img/food-tours/short-order.jpg')">
            <div class="cover">
                <h1 class="coffeeco">
                    Short Order Food Tour<br>
                    <span class="region">Three Thursdays per month<br>1PM to 3PM</span>
                </h1>
            </div>
        </div>
        <div class="details">
            <p>Our tours are a playful, educational edible experiences that are based on the seasons. Yes, Kauai has seasons! As a small, family owned business, Tasting Kauai is able to add a personal touch to create memorable experiences infused with aloha. This unique tour can’t be experienced anywhere else on Kauai. Custom tours available.</p>
            <h4>What you’ll do and taste on our Short Order Food Tour</h4>
            <p>Hop in your car and follow our guide on a tasting adventure through Kauai’s east side. You’ll sample everything from food trucks to fine dining!</p>
            <ul class="bullets">
                <li>2-hour tour</li>
                <li>Insider information</li>
                <li>Intimate groups</li>
                <li>Tastings at 3 stops along the Royal Coconut Coast</li>
                <li>Personal introductions to some of Kauai’s top cooks</li>
                <li>Experience out-of-the way establishments</li>
                <li>Sample some of the best food the Royal Coconut Coast has to offer</li>
            </ul>
            <p>
                <a href="https://www.tastingkauai.com/kauai-food-tour/north-shore/" class="button">Book This Tour On Our Website</a>
            </p>

        </div>

    </div>


</template>