<template name="foodToursSouthShore">
    {{>header pageTitle="South Shore Food Tour"}}
    <div class="content">
        <div class="cover-photo" style="background-image:url('/img/food-tours/south-shore.jpg')">
            <div class="cover">
                <h1 class="coffeeco">
                    South Shore Food Tour<br>
                    <span class="region">Wednesdays<br>1:15PM to 5PM</span>
                </h1>
            </div>
        </div>
        <div class="details">
            <p>Our tours are a playful, educational edible experiences that are based on the seasons. Yes, Kauai has seasons! As a small, family owned business, Tasting Kauai is able to add a personal touch to create memorable experiences infused with aloha. This unique tour can’t be experienced anywhere else on Kauai. Custom tours available.</p>
            <h4>What you’ll do and taste on our South Shore Food Tour</h4>
            <p>Follow our culinary guide in the comfort of your own car and sample the sights, flavors and history of Kauai’s sunny South Shore. The stops on our South Shore food tour are a celebration of street food inspired by Hawaii’s diverse cultures. You’ll sample everything from food trucks to fine dining!</p>
            <ul class="bullets">
                <li>4-hour tour</li>
                <li>Exclusive access</li>
                <li>Insider information</li>
                <li>Intimate groups</li>
                <li>Tastings at 6 stops along the South Shore of Kauai</li>
                <li>Private&nbsp;tasting&nbsp;with Mark Arriola, executive chef of Merriman’s Fish House</li>
                <li>Tour a working kitchen</li>
                <li>Experience out-of-the way establishments</li>
                <li>Sample&nbsp;fresh&nbsp;Japanese food</li>
                <li>Taste exotic fruit</li>
                <li>Enjoy tropical gelato</li>
                <li>Meet farmers</li>
                <li>Meet food artisans</li>
                <li>Sample some of the best food the South&nbsp;Shore has to offer</li>
                <li>The tour ends at a farmers market – stroll through the market and purchase gifts of aloha, or food to enjoy during your stay</li>
            </ul>
            <p>
                <a href="https://www.peek.com/purchase/activity/5696a0cb6f2947873d001620/select_tickets" hook="dispatch" class="button">Book This Tour</a>
            </p>
            <p><i>PS: Bring a copy of our restaurant guidebook on tour with you so the chefs can autograph their page!</i></p>

        </div>

    </div>


</template>